body { background-color: #eaeaea; }
.filter-module-container .buttons-container { margin: 7% auto 25px; }
.filter-module-container .buttons-container .btn { font-size: 200%; }
.filter-module-container .buttons-container .text-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.filter-module-container .buttons-container .btn-dropdown {
    position: relative;
    display: inline-block;
}
.filter-module-container .buttons-container .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.filter-module-container .buttons-container .dropbtn:hover, 
.filter-module-container .buttons-container .dropbtn:focus { background-color: #3e8e41; }
.filter-module-container .buttons-container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}
.filter-module-container .buttons-container .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.filter-module-container .buttons-container .dropdown-content a:hover { background-color: #ddd; }
.filter-module-container .buttons-container .input-drpdwn {
    border-box: box-sizing;
    /* background-image: url('searchicon.png'); */
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}
.filter-module-container .buttons-container .input-drpdwn:focus {outline: 3px solid #ddd;}


.filter-module-container .show-community { display: block; }
.filter-module-container .hide-community { display: none; }


.filter-module-container .buttons-container .dropdown-content.show {display: block;}
/* .no-filter .dropdown .dropdown-content {
    display: none;
} */

.filter-module-container .community-container .label {
    font-size: 150%;
    color: #000;
}